@import './colors.scss';

$shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$transition: all .2s ease;

p{
	margin: 0;
}

button{
	border: none;
	&:focus{
		outline: none;
	}
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	color: $regularText;
	background-color: $backgroundColor;
}

#app {
  color: #2c3e50;
}

.main{
	position: relative;
	height: 300px;
	background-color: $primaryColor;
	padding: 10px;
	color: white;
	.wrapper{
		margin: 40px auto;
		p{
			text-align: center;
		}
		.description{
			margin-top: 15px;
			font-size: 20px;
		}
		.title{
			font-size: 33px;
			text-transform: uppercase;
			font-weight: 600;
		}
	}
}
.buttons-wrapper{
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
	.button{
		text-decoration: none;
		border-radius: 2px;
		transition: $transition;
		background-color: $secondaryColor;
		padding: 10px;
		cursor: pointer;
		border: none;
		color: white;
		font-size: 17px;
		&:not(:last-child){
			margin-right: 10px;
		}
		&:focus{
			outline: none;
		}
	}
}

.content{
	padding: 30px;
}
.card-container{
	margin-top: 50px;
	&:first-child{
		margin-top: 0px;
	}
}

.prism{
	margin: 0;
	border-radius: 4px;
}

.card{
	border: 1px solid $borderColor;
	border-radius: 4px;
	min-height: 100px;
	background-color: white;
	transition: $transition;
	.header{
		padding: 5px 10px;
	}
	&:hover{
		box-shadow: $shadow;
	}
	.visibility{
		width: 100px;
		color: white;
		padding: 4px 0;
		border-radius: 4px;
		text-align: center;
		margin: 10px auto;
		&.hidden{
			background-color: #F56565;
		}
		&.visible{
			background-color: #48BB78;
		}
	}
	.example-container{
		height: 400px;
		position: relative;
		overflow: auto;
	}
	.code-expand{
		background-color: #f9fafc;
		padding: 15px;
		width: 100%;
		transition: $transition;
		text-transform: capitalize;
		cursor: pointer;
		border-top: 1px solid $borderColor;
		text-align: center;
		font-size: 14px;
		svg{
			margin-right: 5px;
			vertical-align: middle;
		}
		&:hover{
			svg{
				fill: $primaryColor;
			}
			color: $primaryColor;
			background-color: #eeee;
		}
	}
}

.example-content{
  padding: 50px 15px;
  text-align: center;
  background-color: $primaryColor;
  color: white;
  width: 200px;
  margin: 0 auto;
  border-radius: 4px;
}

.scroll-sign{
	text-align: center;
	color: #e2e2e2;
}

.package-info{
	a{
		margin-right: 12px;
	}
	display: flex;
	justify-content: center;
	margin-top: 30px;
}